.footerbg{
    width: 100%;
    padding: 2rem 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-areas: "img quick company social";
    justify-items: center;

    color: white;
}
.logo,.quicklink,.company,.social{
    display: flex;
    flex-direction: column;
    grid-area: 1fr;
}
.logo{
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quicklink{
    grid-area: quick;
}
.company{
    grid-area: company;
}
.social{
    grid-area: social;
}
.logo img{
    width: 80px;
    object-fit: contain;
}

.link{
    border-radius: 50%;
    font-size: 1.75rem;
    margin: 7px;
    padding: 2px;
    color: rgba(255, 255, 255, 0.603);
}
.link:hover{
    color: #ca9e66;
}
input{
    height: 35px;
    width: 70%;
}
.input:active{
    border: none;
}
.subscribe button{
    padding: 0 10px;
    border: none;
    background: #ca9e66;
    height: 35px;
    width: 30%;
}
.ul{
    text-decoration: none;
    list-style: none;
    padding-left: 0.5rem !important;
    margin-left: 0%;
}
 .a{
    text-decoration: none;
    color: aliceblue;

}
 .a:hover{
    color: #ca9e66;
}
@media (max-width:992px) {
    .footer{
        grid-template-areas: "img quick company"
                            "social social social" ;
    }

    .social{
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:768px) {
    .logo{
        padding: 1rem 0;
    }
    .footer{
        grid-template-areas: "img img " "quick company" "social social ";
        justify-items: center;
    }
}