.footerbg {
    width: 100%;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;

    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-areas: "img quick company social";
    justify-items: center;

    color: white;
}

.logo,
.quicklink,
.company,
.social {
    display: flex;
    flex-direction: column;
    grid-area: 1fr;
}

.logo {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quicklink {
    grid-area: quick;
}

.company {
    grid-area: company;
}

.social {
    grid-area: social;
}

.logo img {
    width: 80px;
    object-fit: contain;
}

.link {
    border-radius: 50%;
    font-size: 1.75rem;
    color: rgba(255, 255, 255, 0.603);
}

.link:hover {
    color: #ca9e66;
}

input {
    height: 35px;
    width: 70%;
    background: #dddbdbad;
        color: #212121;
        border: none;
}
input:focus{
    outline: 2px solid #ca9e66;
}

.input:active {
    border: none;
}

.subscribe input[type="submit"] {
    padding: 0 10px;
    border: none;
    background: #ca9e66;
    height: 35px;
    width: 30%;
}

.ul {
    text-decoration: none;
    list-style: none;
    padding-left: 0.5rem !important;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
}

.ul a {
    text-decoration: none;
    color: aliceblue;
    font-size: 0.95rem;
}

.ul a {
    margin-bottom: 5px !important;
}

.ul a:hover {
    color: #ca9e66 !important;
}

.lineTop {
    width: 100%;
    height: 1px;
    background: white;
    margin-bottom: 3rem;
}

.line {
    width: 100%;
    height: 1px;
    background: white;
    margin-top: 2rem;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 !important;
    color: white;
}

.links a {
    margin: 10px;
}

@media (min-width:992px) {
    .footer {
        height: 12rem;
    }

    .logo,
    .quicklink,
    .company,
    .social {
        justify-content: start !important;
    }

    .logo h6,
    .quicklink h6,
    .company h6,
    .social h6 {
        font-size: 1.3rem;
    }

    .ul {
        font-size: 0.9rem;
    }

    .logo img {
        width: 7rem;
        height: auto;
    }
}

@media (max-width:992px) {
    .footer {
        grid-template-areas: "img quick company"
            "social social social";
    }

    .social {
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .logo h6,
    .quicklink h6,
    .company h6,
    .social h6 {
        font-size: 1.2rem;
    }

}

@media (min-width:768px){
    .logo,
        .quicklink,
        .company{
            justify-content: start !important;
        }
}

@media (max-width:768px) {
    .logo {
        padding: 1rem 0;
    }

    .logo h6,
    .quicklink h6,
    .company h6,
    .social h6 {
        font-size: 1.2rem;
    }

    .subscribe h6{
        text-align: center;
        margin-top: 10px;
    }
    .footer {
        grid-template-areas: "img img ""quick company""social social ";
        justify-items: center;
    }
}