.testimonials {
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    background: #121212 !important;
}

.swiper {
    height: 80%;
    width: 100%;
}

.slide {
    width: min(375px, 100%);
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    color: #828282;
    margin: 0 15px;
    overflow: hidden;
    padding: 8px;
    background: #212020;
    margin: 0 30px;
    border-radius: 13px;
}

.slide a {
    align-self: center;
    position: relative;
}

.slide svg {
    height: 35px;
    width: 35px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
    color: #BD9560;
}

.holder {
    width: 93%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 70%;
    max-height: 32px;
}

.profile {
    width: 41px;
    border-radius: 50%;
    margin-bottom: 10px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}



.slide h5,
.slide h6 {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    color: #C89D65;
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
}

.slide h5 {
    font-size: 1.05rem;
    margin-top: 5px;
}

.slide h6 {
    font-size: 0.9rem;
}



.p {
    text-align: center;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    margin-bottom: 5px;
    height: 14ch;
    padding: 10px 5px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-size: 1.05rem;
}

@media (max-width:992px) {
    .slide {
        margin: 0 15px;
    }
}

@media (max-width:768px) {
    .slide {
        margin: 0 20px !important;
    }
}

@media (max-width:576px) {
    .slide {
        margin: 0 5px;
    }
}