.medium{
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    background: white !important;
}
.swiper{
    height: 80%;
    width: 100%;
}
.slide{
    width: 20rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    color: #828282;
    margin: 0 15px;
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
        border-radius: 13px;
        padding-bottom: 10px;

}
.slide a{
    text-decoration: none;
}
.slide .imgbox{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 26px;
    margin-top: 8px;

}
.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.slide h5,.slide p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    margin: 5px 0;
    text-align: center;
}
.slide h5{
    font-weight: bold;
    color: #000;
    margin-top: 1rem;
}
.slide h6{
    margin: auto !important;
    color: #828282;
}
@media (max-width:992px) {
    .slide{
        width: 33%;
        margin:  0 10px ;

    }
}
@media (max-width:768px) {
    .slide{
        width: 70%;
        margin:  0 10px ;

    }
}
@media (max-width:576px) {
    .slide{
        
        width: 100%;
        margin: 5px;
    }
}
