.medium{
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    background: white !important;
}
.swiper{
    height: 80%;
    width: 100%;
}
.slide{
    background: black;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 0 15px;
    border-radius: 30px 30px 0 0 ;
    overflow: hidden;

}
.slide .imgbox{
    height: 100%;
    width: 95%;
    overflow: hidden;
    border-radius: 25px 25px 0 0 ;
    margin-top: 8px;

}
.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.slide h5,.slide p{
    width: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    margin: 5px 0;
    text-align: center;
}
.slide h5{
    font-weight: bold;
}
.slide p{
    color: #828282;
}
@media (max-width:992px) {
    .slide{
        width: 33%;
        margin:  0 10px ;

    }
}
@media (max-width:768px) {
    .slide{
        width: 45%;
        margin:  0 10px ;

    }
}
@media (max-width:576px) {
    .slide{
        margin:  0 5px;
        
        width: 60%;
    }
}
@media (max-width:400px) {
    .slide{
        margin:  0 5px ;
        
        width: 80%;
    }
}