.section1 {
    width: 100%;
    height: calc(100vh - 100px);
    background: transparent;
    display: flex;
    align-items: center;
}
.lines{
    position: absolute;
    height: 70vh;
    z-index: 1;
    top: 0;
    right: 0;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, minmax(18rem, 1fr));
    align-items: center;
    z-index: 2;

}
.content {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content span {
    color: #d0a269;
}
.content h6 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #959595;
    text-transform: capitalize;
}
.content h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-transform: capitalize;

}
.btns{
}
.contact {
    border: 2px solid #d0a269;
    background: #d0a269;
    border-radius: 50px;
    color: black;
    padding: 5px 45px;
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-right: 15px;
}
.academybtn {
    border: 2px solid white;
    background: transparent;
    border-radius: 50px;
    color: white;
    padding: 5px 50px;
    margin-top: 2rem;
    font-size: 1.3rem;
}
.bg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width: 1410px) {
    .content h1 {
        font-size: 3rem;
    }
}
@media (max-width: 992px) {
    .content h1 {
        font-size: 2.2rem;
    }
}
@media (max-width: 768px) {
    .main {
        grid-template-columns: repeat(1, minmax(18rem, 1fr));
        height: 90%;
    }
    .content {
        height: 30vh;
        display: flex;
        flex-direction: column;
    }
    .content h1 {
        font-size: 2.5rem;
    }
    .bg img {
        width: 80%;
        height: 80%;
    }
}
@media (max-width: 600px) {
    .main {
        height: 100%;
    }
    .content h1 {
        font-size: 2rem;
    }
}
@media (max-width: 420px) {
    .content h1 {
        font-size: 1.6rem;
    }
}

