.cards{
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    padding: 5rem 0;
}
.cardcontainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
