.card{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.card h4{
    color: #d0a269;
}
.card h6{
    color: #737373;
}