@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto&display=swap");

@font-face {
    font-family: "Bahija";
    src: url(./assets/alfont_com_AlFont_com_Bahij_TheSansArabic-Bold-1.ttf);
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(264.27deg, #515251 -41.22%, #050404 223.16%);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100vh;
    -moz-background-size: 100% 100vh;
    -o-background-size: 100% 100vh;
    background-size: 100% 100vh;
    background-position: center;
}
.arrowbox {
    position: absolute;
    right: 0;
    z-index: -5;
    width: 30rem;
    height: 30rem;
}
.arrow {
    position: relative;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: linear-gradient(264.27deg, #050404 -41.22%, #515251 223.16%);
    width: 100%;
    opacity: 60%;
    box-sizing: border-box;
    clip-path: polygon(100% 100%, 20% 40%, 51.73% 0.52%, 100% 0%);
    transition: all 1s ease-out;
}
.arrow-inner {
    background: linear-gradient(264.27deg, #515251 -41.22%, #050404 223.16%);
    width: 100%;
    height: 100%;
    clip-path: polygon(
        100% 81%,
        41.41% 37.84%,
        71.46% 0%,
        54.59% 0%,
        23.92% 39.38%,
        99.79% 96.53%
    );
}
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
.form {
    width: 40rem;
    height: 30rem;
    background: rgba(66, 67, 66, 0.84);
    backdrop-filter: blur(11px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #c89d65 !important;
    position: relative;
}
.close {
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 1.5rem;
}
.close:hover {
    color: #9b7543;
}
.form h1 {
    text-align: center;
    margin-top: 50px;
}
.form img {
    height: 55px;
    position: absolute;
    top: 30px;
    margin-top: 10px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form .inputbox,
.submit {
    margin-top: 30px;
}
input {
    outline: none;
}

form .inputbox input {
    width: 17rem;
    border: 2px solid #c89d65;
    box-sizing: border-box;
    border-radius: 30px;
    background: transparent;
    height: 35px;
    color: #c89d65 !important;
    font-size: 1rem;
    text-align: center;
}
.submit input {
    width: 8rem;
    border: 2px solid #c89d65;
    box-sizing: border-box;
    border-radius: 30px;
    background: transparent;
    height: 30px;
    font-size: 1rem;
    color: #c89d65 !important;
    text-align: center;
}
::placeholder {
    text-align: center;
    color: #c89d65 !important;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
}
header img {
    height: 100px;
    padding-left: 50px;
    padding-top: 50px;
}

section {
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
}
.container {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    position: relative;
    justify-items: center;
    align-items: center;
}
.content {
    margin-top: 7rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
    position: relative;
}
.content h1 {
    font-family: Bahija, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 70px;
}
.content p {
    width: 100%;
    margin-top: 15px;
    font-family: Bahija, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
}
.content span {
    color: #c89d65;
}
.secimg img {
    width: 45vw;
    min-height: 45vh;
    z-index: -1;
}
section button {
    width: 17rem;
    padding: 10px;
    margin-top: 9rem;
    border: 2px solid #c89d65;
    box-sizing: border-box;
    border-radius: 30px;
    background: transparent;
    font-size: 1.2rem;
    color: #c89d65 !important;
    text-align: center;
    /*align-self: center;*/
    font-family: Bahija, sans-serif;
}
section button:hover {
    border: 2px solid #9b7543;
    color: #9b7543 !important;
}
footer {
    width: 100%;
    position: relative;
}
.box {
    width: max-content;
    position: relative;
    transform: rotate(-90deg);
    margin-left: -40px;
    bottom: 20px;
    color: white;
    font-size: 0.8rem;
}
.box .fa-solid {
    margin: 10px;
    font-size: 0.8rem;
}
.icons {
    position: absolute;
    top: 10px;
    right: 20px;
}
.icon {
    background: #b9b9b9;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
}
.icons a {
    text-decoration: none !important;
}
.icon i {
    color: #5d5d5d;
}
.icon:hover {
    background: #888686;
}

@media (min-width: 795px) {
    header img {
        margin-left: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 795px) {
    .arrowbox {
        position: absolute;
        right: 0;
        z-index: -5;
        width: 24rem;
        height: 24rem;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header img {
        height: 65px;
    }

    .container {
        grid-template-columns: none;
        grid-template-rows: 40vh 40vh;
    }
    section button {
        margin-top: 2rem;
        font-size: 0.9rem;
        width: 14rem;
        padding: 5px;
    }
    .secimg img {
        width: 65vw;
        min-height: none;
    }
    .content h1 {
        font-size: 2rem;
        line-height: 50px;
    }
    .content p {
        font-size: 1.2rem;
    }
    .icon {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
    .content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0vw;
    }
    .form {
        width: 20rem;
        height: 50vh;
    }
}
@media (max-width: 576px) {
    .content h1 {
        font-size: 2rem;
        line-height: 50px;
    }
    .content p {
        font-size: 1rem;
    }

    .secimg img {
        width: 70vw;
        min-height: none;
    }
}
